
.filtrer{
    background-color: transparent; /* Set the background to transparent */
    position: relative; /* Ensure it appears above the overlay */
    z-index: 1002; /* Make it appear above the overlay */
}
.filtrer img{
    background-color: white;
    
}
  .banner_Filtrer{
    top: 110px;
    
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 800px;
    width: 800px;
    border-radius: 8px;
    z-index: 1002;
}

.F_hidden , .F_Ohidden{
    display: none;
  }
  
.F_visible  .F_Ovisible{
    display: block;
  }
  
 
  

.icon-button{
    
    background-color: transparent;
    z-index: 1002;
    
}
 #F_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1001; /* Ensure the overlay appears above other content */
}