
.options{
    position: fixed;
    top: 150px;
    border-radius: 8px;
    width:11%;
    height: 600px;
    padding: 10px;
    padding-top: 30px;   
}
ul{
    
    margin-top: 85px;
    margin-left: -35px;
}
ul li{
    border: none;
    background-color: #9e6c48;
    align-items: center;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding:5px 11px 5px 11px;
    margin: 7px;
    display: flex;
    list-style-type: none;
    cursor: pointer;
}
.link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.selected-opt{
    
    background-color: #8a4f24;
    align-items: center;
    border-bottom:1px solid rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border-radius: 30px;
    padding:4px 10px 4px 10px;
    border: 0.7px solid rgb(255, 255, 255);
    margin: 7px;
    display: flex;
    list-style-type: none;
}
ul li:hover{
    background-color: #9a643d;
}
.home{
    align-items: center; 
    display: flex;
}
.home span{
    font-family: 'Roboto', sans-serif;
    color: #9a643d;
    font-weight: 300;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
}
.home img {
    border-radius: 50%;
    background-color: #bd7c4d;
    width: 65x;
    height: 65px;
    margin-right: 10px;
}

.opt-list{
    z-index: 1001;
    position: fixed;
}

.opt-list  div img{
    padding: 0px;
    margin: 5px;
    border-radius: 50%;
    background-color: #fff;
    width: 25x;
    height: 25px; 
}
.opt-list .opt{
display: flex;
}

.hidden {
    display: none;
  }
  
  .visible {
    display: block;
    animation: unroll 0.3s forwards;
  }
  
  @keyframes unroll {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: auto;
      opacity: 1;
    }
  }
  
   ul .icon-button{
    position: fixed;
    left: 0;
    top: 250px;
  }
  .icon-button img{
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    
    
  }